@model RadioChannels.Models.ForgotPasswordViewModel

<link href="~/Content/stylesheets/forms.css" rel="stylesheet" />

@{
    ViewBag.Title = "Forgot Password";
}

<h2 id="main-heading">Forgot Password</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <ul class="form-style-1">       
        <li>
            <label>@Html.DisplayNameFor(model => model.Email)<span class="required">*</span></label>
            <!-- <input type="email" name="field3" class="field-long" /> -->
            @Html.TextBoxFor(model => model.Email, new { @class = "field-long", name = "field1", type = "email" })
        </li> 
        <li>
            <input id="submit-email" type="submit" value="Send Email" />            
        </li>      
    </ul>
}
<script>
    $('#submit-email').prop('disabled', true);    
    $('.field-long').keyup(function () {        
        if ($(".field-long").val() != '') // can we enable the submit button
            $('#submit-email').prop('disabled', false);        
    }); 
    if (!window.location.href.includes("forgotpassword"))  // if we have moved back to this page then, dont push it
        history.pushState("forgotpassword", null, "/#account/forgotpassword");
</script>
