@model IEnumerable<RadioChannels.Models.Channel>

@{
    ViewBag.Title = "Favourites";
}

@RenderPage("~/Views/Shared/_Categories.cshtml")

<div id="stations-container">    
    <div id="stations">
        <ul>
            @RenderPage("~/Views/Shared/_Stations.cshtml")            
        </ul>
    </div>
</div>
<script>    
    $('#categories li:contains("All")').addClass("clicked");    
    $("#stations ul").find("li").find(".fav-btn").each(function (index, elem) {
        $(elem).addClass("is-favourite");
        $(elem).removeClass("fav-btn");
    });
    favourites = $("#stations ul").clone();
    $("#stations ul").empty();
    $("#stations ul").append(favourites);
    triggerGenreSelect();   // executes only when the user navigates back to Favourites from another page    
</script>
