@model IEnumerable<RadioChannels.Models.Channel>

@{
    ViewBag.Title = "Favourites";
}

@RenderPage("~/Views/Shared/_Categories.cshtml")

<div id="stations-container">    
    <div id="stations">
        <ul>
            @RenderPage("~/Views/Shared/_Stations.cshtml")            
        </ul>
    </div>
</div>
<script>    
    $('#categories li:contains("All")').addClass("clicked");
    triggerGenreSelect();
</script>
