@{
    ViewBag.Title = "Favourites";
}

@if (Request.IsAuthenticated)
{

@RenderPage("~/Views/Shared/_Search.cshtml", new { Title = "Favourites" })
@RenderPage("~/Views/Shared/_Search.cshtml", new { Controller = "FavouritesController" })

<script>
    current_genre = undefined;
    current_channel = undefined;
    if (window.location.href.includes("/favourites/all")) {
        history.replaceState("favourites", null, "/#favourites");
    } else {
        history.pushState("favourites", null, "/#favourites");
    }

    if ($("#stations").find(".row").length > 0) {
        $("#stations > div").find(".fav-btn").each(function (index, elem) {
            $(elem).addClass("is-favourite");
            $(elem).removeClass("fav-btn");
        });
        favourites = $("#stations > div").clone();
        $("#stations").empty();
        $("#stations").append(favourites);
        $("#stations").addClass("set-overflow-y");
    }
</script>
}
else
{
    <p> You must be a <a onclick="page_ajax_request('/Account/Register', ActionOnReady)"> registered </a> member and <a onclick="page_ajax_request('/Account/LogIn', ActionOnReady)"> logged in</a> to view this page </p>
}