@model IEnumerable<RadioChannels.Models.Channel>

@{
    ViewBag.Title = "Favourites";
}

@if (Request.IsAuthenticated)
{
<div class="container-fluid header-container">
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <h2 id="main-heading">Favourites</h2>
            <div class="categories-container cbp-af-header cbp-af-header-shrink">
                @RenderPage("~/Views/Shared/_Categories.cshtml")
            </div>
        </div>
        <div class="col-sm-3 hidden-xs">
            <h2 id="main-heading">Favourites</h2>
        </div>
        <div class="col-sm-9 hidden-xs">
            <div class="categories-container cbp-af-header-2 cbp-af-header-shrink">
                @RenderPage("~/Views/Shared/_Categories.cshtml")
            </div>
        </div>
    </div>
</div>

<div id="stations-container">
    <div id="stations">
        <p class="page-message">You currently have no favourites in your selection. Navigate to the <a onclick="ajax_request('/Home/IndexPartial', triggerGenreSelect)">Search</a> page to begin searching for music channels</p>
        <div class="container-fluid">
            @RenderPage("~/Views/Shared/_Stations.cshtml")
        </div>
    </div>
</div>
<script>
    current_genre = undefined;
    current_channel = undefined;
    if (window.location.href.includes("/favourites/all")) {
        history.replaceState("favourites", null, "/#favourites");
    } else {
        history.pushState("favourites", null, "/#favourites");
    }

    if ($("#stations").find(".row").length > 0) {
        $("#stations > div").find(".fav-btn").each(function (index, elem) {
            $(elem).addClass("is-favourite");
            $(elem).removeClass("fav-btn");
        });
        favourites = $("#stations > div").clone();
        $("#stations").empty();
        $("#stations").append(favourites);
    }
</script>
}
else
{
    <p> You must be a <a onclick="ajax_request('/Account/Register', ActionOnReady)"> registered </a> member and <a onclick="ajax_request('/Account/LogIn', ActionOnReady)"> logged in</a> to view this page </p>
}