<h2 id="main-heading">Radio Stations</h2>
<div id="categories">
    <ul id="genres">
        <li><a onclick="location.href='@Url.Action("IndexAsync", "Home", "all")'">All</a>
        <li><a>Acid House</a></li>
        <li><a>Chillout</a></li>
        <li><a>Electro</a></li>
        <li><a>Drum And Bass</a></li>
        <li><a>Dubstep</a></li>
        <li><a>Deep House</a></li>
        <li><a>House</a></li>
        <li><a>Hard House</a></li>
        <li><a>Progressive</a></li>
        <li><a>Techno</a></li>
        <li><a>Trance</a></li>
        <li><a>Trip Hop</a></li>
    </ul>
</div>