
    <div id="categories" class="radmenu">
        <a href="#" class="show">Genres</a>
        <ul>
            <li class="general-genre-container">
                <a href="#">Acid House</a>
            </li>
            <li class="general-genre-container">
                <a href="#">Chillout</a>
            </li>
            <li class="general-genre-container">
                <a href="#">Electro</a>
            </li>
            <li class="general-genre-container">
                <a href="#">Drum And Bass</a>
                <ul>
                    <li><a href="#">Jungle</a></li>
                    <li><a href="#">Liquid</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a href="#">Dubstep</a>
            </li>
            <li class="general-genre-container">
                <a href="#">House</a>
                <ul>
                    <li><a href="#">Deep House</a></li>
                    <li><a href="#">Lounge</a></li>
                    <li><a href="#">Soulful</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a href="#">Hard Dance</a>
                <ul>
                    <li><a href="#">Hardstyle</a></li>
                    <li><a href="#">Hard House UK</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a href="#">Progressive</a>
                <ul>
                    <li><a href="#">Trance</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a href="#">Techno</a>
            </li>
            <li class="general-genre-container">
                <a href="#">Trance</a>
                <ul>
                    <li><a href="#">Vocal</a></li>
                    <li><a href="#">Classic</a></li>
                    <li><a href="#">Progressive</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a href="#">Trip Hop</a>
            </li>
        </ul>
    </div>