
    <div id="categories" class="radmenu">
        <a class="show">Genres</a>        
        <ul>
            <li class="general-genre-container">
                <a>Acid House</a>
            </li>
            <li class="general-genre-container">
                <a>Chillout</a>
            </li>
            <li class="general-genre-container">
                <a>Electro</a>
            </li>
            <li class="general-genre-container">
                <a>Drum And Bass</a>
                <ul>
                    <li class="concrete-genre"><a>Jungle</a></li>
                    <li class="concrete-genre"><a>Liquid</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a>Dubstep</a>
            </li>
            <li class="general-genre-container">
                <a>House</a>
                <ul>
                    <li class="concrete-genre"><a>Deep House</a></li>
                    <li class="concrete-genre"><a>Lounge</a></li>
                    <li class="concrete-genre"><a>Soulful</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a>Hard Dance</a>
                <ul>
                    <li class="concrete-genre"><a>Hardstyle</a></li>
                    <li class="concrete-genre"><a>Hard House UK</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a>Progressive</a>
                <ul>
                    <li class="concrete-genre"><a>Trance</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a>Techno</a>
            </li>
            <li class="general-genre-container">
                <a>Trance</a>
                <ul>
                    <li class="concrete-genre"><a>Vocal</a></li>
                    <li class="concrete-genre"><a>Classic</a></li>
                    <li class="concrete-genre"><a>Progressive</a></li>
                </ul>
            </li>
            <li class="general-genre-container">
                <a>Trip Hop</a>
            </li>
        </ul>
    </div>