<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link href="https://fonts.googleapis.com/css?family=Amiri|Cantarell|Crimson+Text|Gentium+Basic|Muli|Nunito+Sans|Quattrocento+Sans|Quicksand|Raleway|Ubuntu" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 
    <link href="~/Content/stylesheets/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/stylesheets/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/stylesheets/loading.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/stylesheets/icons.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/stylesheets/audio-waves.css" rel="stylesheet" />
    <link href="~/Content/stylesheets/playback-panel.css" rel="stylesheet" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/account.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>    
    <script> var favourites = undefined;</script>
</head>
<body>

    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="#">Link</a></li>-->                       
                        <li id="item-radio-stations" onclick="ajax_request('/Home/IndexPartial', triggerGenreSelect)"><span></span></li> <!-- Home -->
                        @if (Request.IsAuthenticated)
                        {                            
                            <li id="item-favourites" onclick="getFavourites();"><span></span></li>
                            <li id="item-account" onclick="ajax_request('/Account/Account')">
                                <span class="span-horizontal hidden-md hidden-lg"></span>
                                <span class="span-vertical hidden-xs hidden-sm"></span>
                            </li>
                            <li id="item-log-out" onclick="signOut();"><span></span></li>
                        }
                        else
                        {
                            <li id="item-sign-in" onclick="ajax_request('/Account/Register', ActionOnReady)">
                                <span class="span-horizontal hidden-md hidden-lg"></span>
                                <span class="span-vertical hidden-xs hidden-sm"></span>
                            </li> <!-- Register / Sign In -->
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    
    <main id="page">         
        @RenderBody()
    </main>  

    <footer class="navbar-fixed-bottom" >
        <div id="audio-player" class="container-fluid">
            <div class="row">
                <div id="jplayer" class="jp-jplayer" style="width: 0px; height: 0px;">
                    <img id="jp_poster_0" style="width: 0px; height: 0px; display: none;">
                    <audio id="jp_audio_0" crossOrigin="anonymous" preload="none"></audio>
                </div>  
                              
                <div class="col-sm-1 hidden-xs">
                    <div class="audio-player-image"><img /></div>
                </div>
                <div class="col-sm-2 hidden-xs">
                    <div class="audio-player-song-name"></div>
                </div>
                <div class="col-xs-3 col-sm-1">
                    <div id="add-favourite" class="fav-btn" onclick="addToFavourites(this)"></div>
                </div>

                <div class="col-xs-2 col-sm-1">
                    <div id="backward" class="icon-backward" onclick="previousStation()"></div>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <div id="play-pause-container">
                        <a role="button" class="audio-player-button audio-player-place-pause-button icon-play" onclick="continueStream()"></a>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-1">
                    <div id="forward" role="button" class="icon-forward" onclick="nextStation()"></div>
                </div>                
                
                <div class="hidden-xs col-sm-1 ">
                    <div class="volume-down" aria-hidden="true"></div>
                </div>
                <div class="hidden-xs col-sm-2">
                    <div id="volumeContainer">
                        <div class="volumeBar">
                            <div class="audio-player-volume-bar"></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-1">
                    <div class="volume-up" aria-hidden="true"></div>
                </div>
                                
                <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
                    <div class="controls">
                        <div class="volume-chooser">
                            <div class="volume-button"><i class="volume-up"></i></div>
                            <div class="volume-control">
                                <input id="mobile-volume" class="volume" type="range" value="100" max="100" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.js"></script>
    <script src="~/Scripts/playback-panel.js"></script>
    <script src="~/Scripts/password-validator.js"></script>
    <script src="~/Scripts/find_station.js"></script>
    <script src="~/Scripts/favourites.js"></script>    
    <script>
        window.addEventListener('popstate', function (event) {
            if (event.state !== undefined && event.state !== null) {

                // genre favourties
                if (window.location.href.includes("/#favourites/")) {
                    ajax_request('/Favourites/IndexPartial', function () {
                        triggerFavouritesGenreSelect();
                        $("#.radmenu > a").trigger("click");
                        $("#.radmenu a").each(function (index, elem) {
                            if ($(elem).text().toLowerCase() === event.state.toLowerCase()) {
                                $(elem).trigger("click");
                                return false;
                            }
                        });
                    });
                } else if ((event.state === "favourites")) {
                    $("#item-favourites").trigger("click");
                } else if (event.state === "index") {
                    $("#item-radio-stations").trigger("click");
                } else if (event.state === "register") {
                    ajax_request('/Account/Register', ActionOnReady);
                } else if (event.state === "login") {
                    ajax_request('/Account/Login', ActionOnReady);
                } else if (event.state === "account") {
                    ajax_request('/Account/Account', ActionOnReady);
                } else if (event.state === "edit") {
                    ajax_request('/Account/Edit', ActionOnReady);
                } else if (event.state === "editpassword") {
                    ajax_request('/Account/EditPassword', ActionOnReady); 
                } else if (event.state === "forgotpassword") {
                    ajax_request('/Account/ForgotPassword', ActionOnReady); 
                } else if (event.state === "resetpassword") {
                    ajax_request('/Account/ResetPassword', ActionOnReady);
                } else { // else its index genre
                    //$("#item-radio-stations").find("a").trigger("click");
                    ajax_request('/Home/IndexPartial', function () {
                        triggerGenreSelect();
                        $("#.radmenu > a").trigger("click");
                        $("#.radmenu a").each(function (index, elem) {
                            if ($(elem).text().toLowerCase() === event.state.toLowerCase()) {
                                $(elem).trigger("click");
                                return false;
                            }
                        });
                    });
                }
            } else {
                // return to home page
                $("#stations > div").empty();
                // remove selected genre
                $("#.radmenu").find(".clicked").removeClass("clicked");
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>