@model IEnumerable<RadioChannels.Models.Channel>
@{
    if (Model != null)
    {
        for (int i = 0; i < Model.Count(); ++i)
        {
            if (Model.ElementAt(i).CurrentTrack == null)
            {
                Model.ElementAt(i).CurrentTrack = "UNKNOWN";
            }

            <li id="@i">
                <div class="image" onclick='tunein(@Html.Raw(Json.Encode(Model.ElementAt(i))), this)'>                    
                    <span class="activity icon-headphones" 
                          onmouseover="$(this).toggleClass('icon-headphones icon-play')" 
                          onmouseout="$(this).toggleClass('icon-headphones icon-play')"></span>
                    <span class="fav-btn" onclick="addToFavourites(this)"></span>
                </div>
                <div class="info">
                    <h3 class="title"><a>@Model.ElementAt(i).Name</a></h3>
                    <p class="now-playing">
                        <span class="label">now playing</span>
                        <a class="track" href="insert/beatport/here">@Model.ElementAt(i).CurrentTrack</a>
                    </p>
                </div>
            </li>
        }
    }
}