@{
    ViewBag.Title = "Error";
}

@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }
    else
    {
        <p class="page-message">@ViewBag.errorMessage</p>
    }
}
