@{  
    ViewBag.Title = "Home Page";
}

<div class="container-fluid header-container">
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <h2 id="main-heading">Search</h2>
            <div class="categories-container cbp-af-header cbp-af-header-shrink">
                @RenderPage("~/Views/Shared/_Categories.cshtml")
            </div>
        </div>
        <div class="col-sm-3 hidden-xs">
            <h2 id="main-heading">Search</h2>
        </div>
        <div class="col-sm-9 hidden-xs">
            <div class="categories-container cbp-af-header-2 cbp-af-header-shrink">
                @RenderPage("~/Views/Shared/_Categories.cshtml")
            </div>           
        </div>
    </div>     
</div>
<div id="stations-container">
    <div id="stations">
        <p class="page-message">Please hover your mouse over the search area above to begin searching for music channels</p> 
        <div class="container-fluid">                       
        </div>
    </div>
</div>
<script>        
    if (!window.location.href.includes("index"))
        history.pushState("index", null, "/#index");    
</script>