@{  
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <h2 id="main-heading">Search</h2>
        </div>
        <div class="col-sm-9">
            <div id="categories-container">
                @RenderPage("~/Views/Shared/_Categories.cshtml")
            </div>           
        </div>
    </div>     
</div>
<div id="stations-container">
    <div id="stations">
        <ul></ul>
    </div>
</div>
<script>
    /*
    if (!window.location.href.includes("index"))
        history.pushState("index", null, "/index.html");
    */
</script>