@{  
    ViewBag.Title = "Home Page";
}

@RenderPage("~/Views/Shared/_Categories.cshtml")

<div id="stations-container">
    <div id="stations">
        <ul>
            
        </ul>
    </div>
</div>

<script>
    if (!window.location.href.includes("index"))
        history.pushState("index", null, "/index.html");
</script>