@{
    ViewBag.Title = "Home Page";
}

@RenderPage("~/Views/Shared/_Categories.cshtml")

<div id="stations-container">
    <div id="stations">
        <ul>
            
        </ul>
    </div>
</div>