@{
    ViewBag.Title = "Home Page";
}

<p>
    Hello @User.Identity.Name
</p>

<h2 id="main-heading">Radio Stations</h2>
<div id="categories">
    <ul id="genres">
        <li><a href="#">All</a></li>
        <li><a href="#">Acid House</a></li>
        <li><a href="#">Chillout</a></li>
        <li><a href="#">Electro</a></li>
        <li><a href="#">Drum And Bass</a></li>
        <li><a href="#">Dubstep</a></li>
        <li><a href="#">Deep House</a></li>
        <li><a href="#">House</a></li>
        <li><a href="#">Hard House</a></li>
        <li><a href="#">Progressive</a></li>
        <li><a href="#">Techno</a></li>
        <li><a href="#">Trance</a></li>
        <li><a href="#">Trip Hop</a></li>
    </ul>
</div>
<div id="stations-container">
    <p>
        
    </p>
    <div id="stations">
        <ul></ul>
    </div>
</div>
