html {
}

html, body {
    margin: 0;
    width: 100%;
    height: 99%;
    color: #A6CBFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
    background-color: #002138;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin-top: 0px;
    list-style: none;
    padding: 0;
}



/* LAYOUT */

#page_wrapper {
    height: 100%;
    width 100%;
}

#navigation {
    left: 0;
    top: 0;
    position: fixed;
    padding-top: 40px;
    height: 100%;
    background-color: #132040;
    width: 13%;
    border-right: 3px solid #2D4F7F;
    font-size: 2.5em;
    z-index: 1;
}

#page_header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2D4F7F;
    height: 35px;
    z-index: 5;
}

main {
    margin-top: 40px;
    margin-left: 185px;
    padding-left: 50px;
    min-height: 100%;
    height: 100%;
}

#audio-player {
    bottom: 0;
    position: fixed;
    line-height: 05em;
    width: 100%;
    z-index: 5;
    background-color: #2D4F7F;
    /* text-align: center; */
}



/* NAVIGATION */

#navigation ul {
    padding-left: 4px;
    position: absolute;
    width: 99%;
}

#navigation ul li {
    margin-top: 20px;
    padding-left: 4px;
    text-align: left;
}

.nav-clicked {
    margin-left: -4px;
    border-left: 4px solid #CCCFD2;
    background: -webkit-linear-gradient(top, #1e5799 0%, #2D4F7F 10%);
}



/* RADIO STATIONS */

#main-heading {
    display: inline-block;
    width: 95%;
    border-bottom: 1px solid #2D4F7F;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3.3em;
}

#categories {
    margin-bottom: 70px;
    margin-top: -20px;
    font-size: 2.2em;
}

#categories ul {
    margin-top: 0px;
}

#categories ul li {
    display: inline-block;
    margin-right: 4px;
    background-color: #2D4F7F;
    padding: 4px;
    border-radius: 5px;
    border: 2px inset #002138;
}

#categories ul .clicked {
    background-color: #FFFFFF;
    color: #0049B0;
}

#categories ul li, #stations ul li {
    float: left;
}

#stations-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#stations {    
    height: 99%;
    width: 100%;
    overflow-y: auto;
    padding-right: 20px;
}

#stations ul {
    clear: left;
}

#stations ul li {
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 8px;
    font-size: 2.0em;
    border: 2px solid #2D4F7F;
    width: 150px;
    background-color: #132040;
}

#stations ul .is-selected {
    border: 2px solid #A6CBFF;   
}

.fav-btn {
    font-size: 1.7em;
}

.image {
    text-align: center;
}

.activity {
    display: block;
}

.info {
    text-align: center;
}

.hidden {
    display: none;
}

.title {
    margin-bottom: -15px;
}

.title a {
    color: #fefefe;
    text-transform: uppercase;
    font-weight: normal;
}

.label {
    text-transform: uppercase;
    font-size: 10px;
    color: #2D4F7F;
}

.is-playing {
    color: darkred;
}

.track, .artist, .title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.track {
    color: #fefefe;
}



/* AUDIO PLAYER */

#audio-player {
    font-size: 1.8em;
}

    #audio-player div {
        display: inline-block;
    }

.audio-player-image {
    line-height: inherit;
    width: 100px;
}

    .audio-player-image img {
        position: relative;
        height: 100%;
        width: 60px;
        vertical-align: middle;
        margin-right: 10px;
        -webkit-backface-visibility: hidden;
    }

.audio-player-song-name {
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#add-favourite {
    vertical-align: middle;
    padding: 0px 10px;
    border-left: 1px solid #002138;
    border-right: 1px solid #002138;
    font-size: 1.9em;
}

.audio-player-controls {
    display: inline-block;
    margin-left: 30px;
    margin-right: 40px;
    padding-right: 40px;
    border-right: 1px solid #002138;
}

.audio-player-button.small {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.audio-player-button {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 35px;
    height: 35px;    
    margin-right: 20px;
    border-radius: 100%;
    border: 3px solid;
    opacity: 0.8;
    cursor: pointer;
}

.icon-forward, .icon-backward {
    font-size: 1.3em;
    vertical-align: middle;
}

.audio-player-progress {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    border-radius: 25px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #A6CBFF;
    overflow: hidden;
}

.audio-player-progress-bar {
    -webkit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    transition: width 200ms linear;
    display: block;
    height: 2px;    
    max-width: 100%;
    border-radius: 0px;
}

.volumeBar {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 170px;
    height: 4px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #A6CBFF;
    border-radius: 3px;
    overflow: hidden;
}

.audio-player-volume-bar {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #A6CBFF;
    position: absolute;
}

.volumeBar, .volume-up, .volume-down {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.volumeBar:hover, .volume-up:hover, .volume-down:hover {
    cursor: pointer;
}


/* TOOLTIP */
.tooltiptext {
    width: 320px;
    color: #002138;
    background-color: #A6CBFF;
    font-size: 2.4em;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid #A6CBFF;
    /* Position the tooltip text */
    position: absolute;
    z-index: 3;
}